.gallery_wrapper {
  width: 1006px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 65px;
}

.sliders_wrapper {
  width: 1000px;
  white-space: nowrap;
  overflow: hidden;
  margin-left: 6px;
}
