.main_image {
  width: 1000px;
  max-height: 615px;
}

.thumb_image {
  width: 250px;
  max-height: 150px;
  object-fit: cover;
  opacity: 0.5;
}

.thumb_image:hover {
  cursor: pointer;
}

.thumb_image_current {
  opacity: 1;
}
