.input_field {
  width: calc(94% - 22px);
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 5px;
  color: #484848;
  margin: 10px 3%;
  padding: 10px;
  background-color: #f5f5f5;
  font: inherit;
}

.input_field_half {
  width: calc(44% - 22px);
}

.input_field:focus {
  outline: none !important;
  border: 1px solid #979797;
}

.input_field_agent {
  border: 1px solid hsl(0, 0%, 80%);
}

.input_field_agent:invalid {
  border: 1px solid red;
}
