.header {
  background-image: url("assets/background.svg");
  background-color: #df434a;
  height: 240px;
  border-top: 10px solid #e29999;
  color: #ffffff;
  font-size: 32px;
  line-height: 39px;
}

.header_center {
  width: 1000px;
  margin: 0 auto;
  padding-top: 40px;
}
